<div class="container">
    <div class="item-show-case">
        <app-bootstrapcarousel></app-bootstrapcarousel>
    </div>
    <div class="item-show-case">
        <app-bootstrapbadges [body]="'Category 1'" [type]="'success'"></app-bootstrapbadges> 
        <app-bootstrapbadges [body]="'Category 2'" [type]="'primary'"></app-bootstrapbadges>
        <app-bootstrapbadges [body]="'Category 3'" [type]="'danger'"></app-bootstrapbadges>
        <app-bootstrapbadges [body]="'Category 4'" [type]="'warning'"></app-bootstrapbadges>
    </div>
    <div class="item-show-case"><app-bootstrapaccordion></app-bootstrapaccordion></div>
    <div class="item-show-case"><app-bootstrapalerts></app-bootstrapalerts></div>
    <div class="item-show-case">
        <app-bootstrapbuttons [btntext]="'Button 1'" [type]="'danger'"></app-bootstrapbuttons>
        <app-bootstrapbuttons [btntext]="'Button 2'" [type]="'success'"></app-bootstrapbuttons>
        <app-bootstrapbuttons [btntext]="'Button 3'" [type]="'primary-outline'"></app-bootstrapbuttons>
        <app-bootstrapbuttons [btntext]="'Button 3'" [type]="'success-outline'"></app-bootstrapbuttons>
    </div>
    <div class="item-show-case">
        <app-bootstrapcards></app-bootstrapcards>
    </div>
    <div class="item-show-case">
        <app-bootstrapdropdowns [action]="'Select Type'" [type]="'danger'"></app-bootstrapdropdowns>
        <app-bootstrapdropdowns [action]="'Select Category'" [type]="'primary'"></app-bootstrapdropdowns>
        <app-bootstrapdropdowns [action]="'Select City'" [type]="'success'"></app-bootstrapdropdowns>
        <app-bootstrapdropdowns [action]="'Select County'" [action_items]="['India', 'South Africa', 'Pakistan', 'Kenya', 'Switzerland']" [type]="'warning'"></app-bootstrapdropdowns>
        <app-bootstrapdropdowns [action]="'Select Action'" [type]="'info'"></app-bootstrapdropdowns>
    </div>
    <div class="item-show-case"><app-bootstrapbreadcrumb></app-bootstrapbreadcrumb></div>
    <div class="item-show-case">
        <app-bootstrapnavbar></app-bootstrapnavbar>
        <br><br>
        <app-bootstrapnavbar [type]="'dark'"></app-bootstrapnavbar>
        <br><br>
        <app-bootstrapnavbar [type]="'primary'"></app-bootstrapnavbar>
        <br><br>
    </div>
    <div class="item-show-case">
        <app-bootstrapoffcanvas [btntext]="'From Left'" [direction]="'start'"></app-bootstrapoffcanvas>
        <app-bootstrapoffcanvas [btntext]="'From Right'" [direction]="'end'"></app-bootstrapoffcanvas>
        <app-bootstrapoffcanvas [btntext]="'From Top'" [direction]="'top'"></app-bootstrapoffcanvas>
        <app-bootstrapoffcanvas [btntext]="'From Bottom'" [direction]="'bottom'"></app-bootstrapoffcanvas>
    </div>
    <div class="item-show-case">
        <app-bootstrappagination></app-bootstrappagination>
    </div>
    <div class="item-show-case">
        <app-bootstraptoasts></app-bootstraptoasts>
    </div>
    
</div>
